<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">
  <link rel="stylesheet" href="mystyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Thoughts</title>
</head>

<body class="home-page">
  <input type="checkbox" id="menu-toggle" class="menu-toggle">
  <label for="menu-toggle" class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="sidebar">
    <a href="index.html" class="active">Home</a>
    <a href="list.html">List All</a>
    <a href="duplicates.html">Duplicates</a>
  </nav>

  <div class="quote-container">
    <div class="quote-card">
      <h1>Daily Thoughts 🤔</h1>
      <h3>brought by Bruno Fernandes</h3>
      <div class="spacer"></div>
      <h2>{{ .Quote }}</h2>
      <p>{{ or .Author "Unknown Author" }}</p>
        {{ if .BirthDeath }}<p>{{ .BirthDeath }}</p>
        {{ end -}}
        {{ if .Profession }}<p>{{ .Profession }}</p>
        {{ end -}}
    </div>
  </div>
</body>

</html>
