<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">
  <link rel="stylesheet" href="mystyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Thoughts</title>
</head>


<body class="list-page">
  <input type="checkbox" id="menu-toggle" class="menu-toggle">
  <label for="menu-toggle" class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="sidebar">
    <a href="index.html">Home</a>
    <a href="list.html" class="active">List All</a>
    <a href="duplicates.html">Duplicates</a>
  </nav>

  <div class="quote-container">
    <div class="quote-card list-card">
      <h1>Memories</h1>
      <h3>brought by Bruno Fernandes</h3>
      <div class="spacer"></div>
      <div class="table-container">
        <table class="quotes-table">
          <tbody>
            {{- range . }}
            <tr>
              <td class="date-column">{{ .Date }}</td>
              <td class="quote-column">{{ .Quote }}<br><span class="author">
                {{- or .Author "Unknown Author" -}}
                {{ if .BirthDeath }} - {{ .BirthDeath }}{{ end -}}
                {{ if .Profession }}, {{ .Profession }}{{ end -}}
              </span></td>
            </tr>
            {{- end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
