<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/png" href="img/favicon.ico">
  <link rel="stylesheet" href="mystyle.css">
</head>

<body>

  <div id=grad>

    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" href="index.html">Home</a></li>
        <li><a class="menu__item" href="list.html">List All</a></li>
      </ul>
    </div>


    <div id=wrap>
      <div style="overflow-y: scroll;">
        <h1>Daily Phrases</h1>
        <h3>brought by Bruno Fernandes</h3>
        <br>
        <table style="width:100%;overflow: visible">
          <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 85%;">
          </colgroup>
          <tbody>
            {qlist}<tr><td>{date}</td><td style="text-align: center"><span style="font-size:120%">{phrase}</span><br><span style="font-size:80%">{author}</span></td></tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</body>

</html>